#.git/ # We need to ensure we don't ignore this for govvv

.cludo
.github/
.slack
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
bin/cludo
bin/cludod
builds
cludo.y*ml
cludod.y*ml
cmd/cludo/cludo
cmd/cludod/cludod
data/
Dockerfile*
k8s/
manual-*
secret*
swagger
tmp
