#IDEs and OS files
.vscode
*~

# Binaries
*.dll
*.dylib
*.exe
*.so

# Test binary, built with `go test -c`
*.test

# Output from various tools
*.out
*.sarif

# Dependency directories (remove the comment below to include it)
# vendor/

#swagger
swagger

#cludo
.cludo
.cludod
cmd/cludo/cludo
cmd/cludod/cludod

#build binaries
bin/cludo
bin/cludod
builds
main

#misc temp and hidden items
cludo.y*ml
cludod.y*ml
secret*
tmp

